spring:
  application:
    name: auth

  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

server:
  port: 8081

kafka:
  topic:
    user-created: "user-created-topic"
